<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<a href="/addCadet"> ADD NEW CADET</a>

<table>
    <tr>
        <th>ID</th>
        <th>Звання</th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Дата народження</th>
        <th>Сімейний стан</th>
    </tr>
    <% cadetList.forEach((value)=>{ %>
        <tr>
            <td><%= value.cadetId %></td>
            <td><%= value.cadetRank %></td>
            <td><%= value.cadetLastName %></td>
            <td><%= value.cadetName %></td>
            <td><%= value.cadetPatronymic %></td>
            <td><%= value.cadetBirthday %></td>
            <td><%= value.cadetMStatus %></td>
        </tr>
    <% }); %>
</table>
</body>
</html>